<!-- <section class='about-video-section'>
  <video src="/images/aboutusvideo.mp4" autoplay poster="posterimage.jpg">
    <div class='video-text'>
      <h1>We are BKA Content</h1>
      <h2>it's nice to meet you!</h2>
    </div>
  </video> -->

<!-- </section> -->
<video loop id="v" src= "/images/aboutusvideo.mp4" autoplay poster="posterimage.jpg"></video>
<div id="overlay">
  <h1>We are BKA Content</h1>
  <h2>it's nice to meet you!</h2>
</div>

<section class='employee-section'>
  <div class='our-team'>
    <h1>Our Team</h1>
  </div>
  <div class='employee-container'>
    <div class='employee-card'>
      <img src="/images/gregpng1.png" alt="" />
      <h3>Greg Secrist</h3>
      <p>Co-founder</p>
      <p>Greg Secrist has worked in the SEO and content creation industry since 2009. Greg is also a passionate tech geek, web designer, marketing pro and SEO Jedi.</p>
    </div>
    <div class='employee-card'>
      <img src="/images/mattpng1.png" alt="" />
      <h3>Matt Secrist</h3>
      <p>Co-founder</p>
      <p>As a co-founder and the VP of Business Development, Matt is passionate about writing quality content, watching NBA basketball, going backpacking and taking mid-day naps.</p>
    </div>
    <div class='employee-card'>
      <img src="/images/drewpng1.png" alt="" />
      <h3>Drew Allen</h3>
      <p>VP of Sales Strategy</p>
      <p>When he’s not wow-ing you with his knowledge of all things content related, he’s probably out practicing his finger dancing moves or trying to improve his golf game.</p>
    </div>
    <div class='employee-card'>
      <img src="/images/jonpng1.png" alt="" />
      <h3>Jon Bingham</h3>
      <p>VP of Marketing</p>
      <p>Jon is the Marketing Director at BKA Content. When he’s not crafting compelling marketing material, he likes to build Legos, buy sneakers, stare at sports cars and watch the Utah Jazz.</p>
    </div>
    <div class='employee-card'>
      <img src="/images/carapng1.png" alt="" />
      <h3>Cara Secrist</h3>
      <p>Managing Editor</p>
      <p>Cara is our grammar queen. When she isn’t red-lining content, she can be found behind the pages of a fantasy novel, directing live theater or playing with grandchildren.</p>
    </div>
    <div class='employee-card'>
      <img src="/images/philpng1.png" alt="" />
      <h3>Phil Secrist</h3>
      <p>CFO</p>
      <p>While numbers are Phil’s specialty, he is also passionate about music. Not only is he a locally renowned drummer, but he also builds beautiful hand-crafted guitars!</p>
    </div>
    <div class='employee-card'>
      <img src="/images/melindapng1.png" alt="" />
      <h3>Melinda Rhodes</h3>
      <p>Account Supervisor</p>
      <p>When she isn’t championing for her clients, she can be found hiking in the mountains, getting in a quick run or testing her movie trivia knowledge against others.</p>
    </div>
    <div class='employee-card'>
      <img src="/images/katiepng1.png" alt="" />
      <h3>Katie Price</h3>
      <p>Account Manager</p>
      <p>Katie embodies the heart and soul of BKA’s company culture with her humor and witty attitude. Where Katie is, Cherry Coke and candy are also.</p>
    </div>
    <div class='employee-card'>
      <img src="/images/shellypng1.png" alt="" />
      <h3>Shelly Peterson</h3>
      <p>Account Manager</p>
      <p>Shelly’s optimism and professionalism are second-to-none! Shelly loves spending time with her family and enjoys sharing her talented singing voice with others.</p>
    </div>
    <div class='employee-card'>
      <img src="/images/andrapng1.png" alt="" />
      <h3>Andra Stowe</h3>
      <p>Account Manager</p>
      <p>Having worked in the customer service industry for years, Andra tackles everything with a smile. During her free time, Andra loves to spend time with family and taking pictures.</p>
    </div>
    <div class='employee-card'>
      <img src="/images/claudiapng1.png" alt="" />
      <h3>Claudia Culmone</h3>
      <p>Legal Content Director</p>
      <p>Claudia’s deep portfolio of legal writing expertise is unmatched. When she isn’t writing about metal hip replacement lawsuits, she enjoys cruising around in her convertible.</p>
    </div>
    <div class='employee-card'>
      <img src="/images/amberpng1.png" alt="" />
      <h3>Amber Morris</h3>
      <p>Hiring Manager</p>
      <p>Amber’s knack for bringing on the best writers onto our teams is uncanny. When she isn’t reviewing writer samples, she loves vermicomposting and reading.</p>
    </div>
  </div>

</section>
