<section class='contact-us-section'>
  <div class='contact-text-three'>
    <h1>Contact Us</h1>
    <p>We'd love to hear from you!</p>
  </div>
</section>

<section class='get-in-touch'>
  <div class='contact-form-two'>
      <h3>Get in Touch</h3>
      <div class='name-email'>
        <input id='left' type="text" placeholder='Name'>
        <input id='right' type="text" placeholder='Email Address'>
      </div>
      <textarea id='contact-text-area' name="name" rows="5" cols="40" placeholder='Message'></textarea>
      <div class='numbers-submit'>
            <div id='random'>
              {{randomNumOne}} + {{randomNumTwo}} =
            </div>
            <input id='bottom' style='border: 1px solid grey' type='text'>
            <button id='view-products-button'>Submit <span id='mail-icon' data-icon="&#xe010"></button>
      </div>
  </div>

  <div class='contact-text-two'>
    <h3>More Info</h3>
    <p>If you have questions about bulk ordering, custom content types, placing orders, or just want to say hi, we want to hear from you!<br><br>
Phone: (801) 441-0737<br><br>
Business Hours: Mon-Fri from (9AM to 5PM MDT)</p>
  </div>
</section>
