<section class='account-section'>
  <h1 id='checkout-title'>My Account</h1>
  <div class='my-account-content'>
      <ul>
        <li ui-sref='account'><span class='my-account-content-span'>Dashboard</span></li>
        <li ui-sref='orders'><span class='my-account-content-span'>Orders</span></li>
        <li ui-sref='downloads'><span class='my-account-content-span'>Downloads</span></li>
        <li ui-sref='addresses'><span class='my-account-content-span'>Addresses</span></li>
        <li ui-sref='account_details'><span class='my-account-content-span'>Account Details</span></li>
        <li ng-click='logout()'><span class='my-account-content-span'>Logout</span></li>
      </ul>

      <div class='my-account-text'>
        <h1>No downloads</h1>
      </div>
  </div>
</section>
