<section class='home-top'>
  <div class='home-top-content'>
    <img class='animated bounce' src="/images/bkamain.png"/>
    <h1>A Better Content Experience</h1>
    <p>Work with real people, not programs.</p>
    <button id="learn-more" ng-click='slideDown(".companies-section")'>Learn More <span id='down-arrow' data-icon="&#x33"></button>
    <button id='buy-content' ui-sref='shop'>Buy Content <span id='right-arrow' data-icon="&#x35"></button>
  </div>
</section>

<section class='companies-section'>
  <div class='circle-pics'>
      <div class='circle-card-side'>
        <div class='circle-card-content'>
          <img  class='wow fadeInLeft' src="/images/girlphone.png"/>
          <h4>Work With Real People</h4>
          <p>We offer dedicated account managers who are accessible to answer questions, facilitate orders and solve problems at no additional cost to you!  <b>One point of contact</b> saves you time, money and frustration.</p>
        </div>
      </div>

      <div class='circle-card-middle'>
        <div class='circle-card-content'>
          <img class='wow fadeInDown' src="/images/handshake.png"/>
          <h4>Writers You Can Trust</h4>
          <p>
            Each <b>article writer</b> is hand-picked by our hiring/training staff after undergoing a rigorous qualification and selection process.  Writers are part of actively managed teams in order to provide a consistent level of quality.
          </p>
        </div>
      </div>

      <div class='circle-card-side'>
        <div class='circle-card-content'>
          <img class='wow fadeInRight' src='/images/graph.png'>
          <h4>Enterprise Quality</h4>
          <p>
            No matter what type of business you are, BKA Content has the <b>professional experience</b> and scalability you’re looking for. Our goal is to become a trusted content extension of your company at every level.
          </p>
        </div>
      </div>
  </div>

  <div class='company-logos'>
    <img src="/images/logos.jpg"/>
  </div>
</section>

<section class='orange-section'>
  <div class='orange-content'>
    <img class='wow fadeInLeft' data-wow-duration='1s'id='robot' src='/images/robot1.png'>
    <div class='orange-text'>
      <h1><b>People</b>, <i>not</i> Programs</h1>
      <p>Let’s get real – automated website content writing services are a dime a dozen.  We still believe that old-fashioned customer service is the best way to get you what you need.  Here are a few things you can expect us to do:</p>
      <ul style="list-style-type:disc">
        <li>Look over and process EVERY order that comes in</li>
        <li>Answer questions and guide you to the right content products</li>
        <li>Facilitate trial orders and give price quotes for custom <span class='orange-words'>SEO content</span></li>
        <li>Create order templates and schedule completion and delivery dates</li>
        <li>Interact in a friendly, professional and accessible manner</li>
      </ul>
      <p>We pride ourselves in being an actual content provider, not just an automated content broker.  Our goal is to become a trusted content extension of your business, instead of a neat piece of software.</p>
    </div>
  </div>
</section>

<section class='managed-section'>
    <div class='managed-text'>
      <h1><b>Managed,</b> not Brokered</h1>
      <p>We hand-pick all of our content writers.  No joke!  We expect the best from them, and in turn, they rise to the occasion.  Here are some of the perks you can expect from using a website content writing service:</p>
      <ul style="list-style-type:disc">
        <li>Authors screened for grammar, spelling and writing ability</li>
        <li>Writers trained on SEO content writing as well as specific content types (landing pages, press releases, etc.)</li>
        <li>Customized writing teams for large, consistent projects</li>
        <li>Editing services available</li>
      </ul>
      <p>We have a “team” mentality among our writers and we treat them like family, too.  We can customize SEO writing teams around your campaigns and ensure that the right people are working on the right projects.</p>
      <p>There’s no need for you to manage each individual writer; we do that for you.</p>
    </div>
    <div class='twoguys'>
      <img class='wow fadeInRight' data-wow-duration='1s' id="twoguys" src='/images/managednotbrokered.png'/>
    </div>
</section>

<section class='better-section'>
  <div class='better-title'>
    <h1>A <b>Better</b> Content Experience</h1>
  </div>
  <div class='better-middle'>
    <div class='better-text'>
      <p>Ever since the site was launched in 2009, we’ve focused our efforts on delivering an amazing <b>content development</b> experience.</p>
      <p>Over the years, we have been able to help thousands of clients execute their SEO strategies with customized SEO content. We are confident that we can provide a <b>content creation</b> solution for you, no matter the size or scale of the project.</p>
    </div>
    <div class='better-icons'>
      <ul>
        <li><h3><span id='purple-clock' data-icon="&#x7d"></span>&nbsp &nbsp     Accessible Account Managers</h3></li>
        <li><h3><span id='green-thumb' data-icon="&#xe106"></span>&nbsp &nbsp      Easy to Order</h3></li>
        <li><h3><span id='pink-check' data-icon="&#x5a"></span> &nbsp &nbsp    Consistent Quality</h3></li>
      </ul>
    </div>
  </div>
    <div class='better-order'>
      <div id='blue-box'>
        <p>So what are you waiting for?  Come see what the BKA Content difference is all about!</p>
        <button ui-sref='shop'>Order Content</button>
      </div>
    </div>
</section>

<section class='reviews-section'>
  <div class='reviews-content'>
      <div class='review'>
        <div class='quote-div'>
          <span id='quotes-icon' data-icon="&#x7c">
        </div>
        <p>We’ve worked with BKA on a variety of projects of all sizes, and they have always delivered quality work on time.</p>
        <p>Our account manager goes above and beyond to make sure we are satisfied, including responding to emails promptly. BKA has been a great partner for us and we highly recommend them!</p>
        <p class="name">Tiffany F.</p>
        <p>Director of E-Commerce Marketing, US Patriot Tactical</p>
      </div>

      <div class='review'>
        <div class='quote-div'>
          <span id='quotes-icon' data-icon="&#x7c">
        </div>
        <p>I run an online marketing company and have a great deal of writing projects each month for my clients.  I now use BKA for all of my writing projects (which is a great deal of writing). They are just amazing.  They research the subject matter in depth and write accordingly with incredible accuracy. They take feedback and guidance very seriously and their work reflects this. Their turn around time is amazing, and they are so organized. BKA content has been a pleasure to work with.  I highly recommend their services to anyone in need of expert writers.</p>
        <p class="name">Jody Berman</p>
        <p>President, Traffic Geeks Inc.</p>
      </div>

      <div class='review'>
        <div class='quote-div'>
          <span id='quotes-icon' data-icon="&#x7c">
        </div>
        <p>BKA has been absolutely phenomenal for our company. We’ve used all the content companies out there that you can imagine, and BKA by far has been the best experience we’ve had.</p>
        <p class='name'>Randall T.</p>
        <p>Chief Operations Officer, Advice Interactive Group</p>
      </div>
  </div>
</section>

<section class='contact-section'>
  <div class='contact-img wow fadeInLeft' data-wow-duration='1s'>
    <img  src="/images/girlphone3.png"/>
  </div>

  <div class='contact-form'>
      <h3>Contact Us</h3>
      <input id='left-input' type="text" placeholder='Name'>
      <input id='right-input' type="text" placeholder='Email Address'>
      <textarea name="name" rows="5" cols="40" placeholder='Message'></textarea>
      <div class='number-check'>
          <button id='submit-contact'>Submit <span id='mail-icon' data-icon="&#xe010"></button>
          <div class='number-div'>
            <input id='bottom-input' type='text'>
            <div id='random-numbers'>
              {{randomNumOne}} + {{randomNumTwo}} =
            </div>
          </div>

      </div>
  </div>

  <div class='contact-text'>
    <p>BKA Content is open <b>Mon-Fri from (9AM to 5PM MST)</b>.</p>
    <p>Please feel free to contact us during our hours of operation to speak with a representative, or contact us by filling out our form to the left.</p>
    <p><b>Office #: (801) 441-0737</b>
  </div>
</section>
