<section class='how-it-works'>
  <div class='how-content-top'>
    <p> How it Works</p>
    <h5> Pick one of the options below.</h5>
    <div class='how-buttons'>
      <button id='self-button' ng-click='slideDown(".self-service-top")'> Self Service <span id='right-arrow' data-icon="&#x35"></button>
      <button id='managed-button' ng-click='slideDown(".managed-services")'> Managed Services <span id='right-arrow' data-icon="&#x35"></button>
    </div>
  </div>
</section>

<section class='self-service-section'>
  <div class='self-service-top'>
    <h2><b>Self</b>-Service</h2>
    <p>With our easy-to-use self-service option, you are in charge of the content ordering process from start to finish. Ordering content online has never been so easy!</p>
  </div>

  <div class='step-one'>
    <div class='step-one-img'>
      <img class='wow fadeInLeft' data-wow-duration='1.5s' src="/images/howitworksmonitor.png"/>
    </div>
    <div class='step-one-text'>
      <h2> Step 1 - Select a Product</h2>
      <p>BKA offers many content writing services, all of which are filterable by their most popular use-case. To start your online order, select the product(s) that you need written.</p>
      <button id='view-products-button' ui-sref='shop'>View Products <span id='right-arrow' data-icon="&#x35"></button>
    </div>
  </div>

  <div class='step-one'>
    <div class='step-one-img'>
      <h2> Step 2 - Options & Add-Ons</h2>
      <p>Once you’ve chosen a content product, select the word size.<br><br>
          You can then select from any of our add-ons. You have the option to add editing, meta descriptions, title tags, social media posts, or stock photos to your content.</p>
    </div>
    <div class='step-one-text'>
      <img class='wow fadeInRight' data-wow-duration='1.5s' src="/images/howitworksoptions.png"/>
    </div>
  </div>

  <div class='step-one'>
    <div class='step-one-img'>
      <img class='wow fadeInLeft' data-wow-duration='1.5s' src="/images/howitoworkscheckout.png"/>
    </div>
    <div class='step-one-text'>
      <h2> Step 3 - Add to Cart & Check Out</h2>
      <p>When you have finished selecting from the product options and add-ons, add the product to your cart.<br><br>
        When all of the products that you need to order have been added to the cart, proceed to checkout and either log in with your existing BKA Content customer account, or register a new account.</p>
    </div>
  </div>

  <div class='step-one'>
    <div class='step-one-img'>
      <h2> Step 4 - Fill Out & Send Order Form</h2>
      <p>Once checkout has been completed, you will receive an order form via email.<br><br>
        Fill out the easy-to-use order form, and send the completed form back to us to start your order.</p>
    </div>
    <div class='step-one-text'>
      <img class='wow fadeInRight' data-wow-duration='1.5s' src="/images/howitoworksform.png"/>
    </div>
  </div>
</section>

<section class='managed-services'>
  <div class='managed-services-top'>
    <div class='bka-chalk-div'>
      <img src="/images/bkalogochalk.png"/>
    </div>
    <div class='managed-services-text'>
      <h1><b>Managed</b> Services</h1>
      <p>Here at BKA Content, we offer Managed Services with every custom project, FREE of charge! We feel that you shouldn’t have to pay extra for good old-fashioned customer service.<br><br>
To make content ordering a breeze, we’ll provide you with a dedicated account manager to oversee your content order from start to finish.</p>
    </div>
  </div>

  <div class='managed-services-how'>
    <h1 id='how-title'>How it works</h1>
    <div class='how-steps'>
      <div class='how-step'>
        <img class='wow fadeInDown' data-wow-duration='1.5s' src="/images/quote.png" alt="" />
        <h1 style='color: #90CA77'>1. Quote</h1>
        <p>Contact us to discuss the scope of your content project. Based on your requirements, we’ll guide you to the content products and pricing that best fit your needs.</p>
      </div>

      <div class='how-step'>
        <img class='wow fadeInDown' data-wow-duration='1.5s' src="/images/trialorder.png" alt="" />
        <h1 style='color: #81C6DD'>2. Trial Order</h1>
        <p>Before proceeding with a large order, we always start with a trial order to ensure that we can meet your expectations.</p>
      </div>

      <div class='how-step'>
        <img class='wow fadeInDown' data-wow-duration='1.5s' src="/images/project.png" alt="" />
        <h1 style='color: #E9B64D'>3. Project</h1>
        <p>After creating order instructions, your account manager will select, manage, and train writers for your project. Your manager will be your one point of contact for easy coordination.</p>
      </div>

      <div class='how-step'>
        <img class='wow fadeInDown' data-wow-duration='1.5s' src="/images/delivery.png" alt="" />
        <h1 style='color: #E48743'>4. Delivery</h1>
        <p>Upon completion, your content will be sent to you. We can also customize the delivery process to include in-house editing for a small fee.</p>
      </div>
    </div>
  </div>

  <section class='managed-services-learn'>
    <div class='learn-text'>
      <h1>Want to <b>Learn</b> More?</h1>
      <p>If you would like to learn more about our Managed Services option and to see if you qualify, then drop us a line. We’d love to hear from you!</p>
      <button id='contact-us-button'>Contact Us</button>
    </div>
  </section>
</section>
